<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <ResourceId>/subscriptions/f47eccd5-4078-4385-927f-e2b6e44636c6/resourcegroups/DefaultResourceGroup-CQ/providers/Microsoft.ContainerRegistry/registries/SaleSquare</ResourceId>
    <ResourceName>SaleSquare</ResourceName>
    <ResourceGroup>DefaultResourceGroup-CQ</ResourceGroup>
    <Subscription>Azure for Students</Subscription>
    <RegistryUrl>salesquare.azurecr.io</RegistryUrl>
    <PublishImageTag>latest</PublishImageTag>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <_TargetId>NetSdkAzureConsoleContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>